.v-card {
  align-self: center;
  background-color: gray;
  color: white;
  width: 17rem;
  display: inline-block;
}



.v-cover {
  border-radius: 0 0 3px 3px;
  background-color: red;
  height: 15rem;
  background-position: center;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
