.smPost {
  border: 1px solid #F5F5F5;
  border-radius: 5px;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 7px 21px 1px rgba(224,221,224,0.21);
  -moz-box-shadow: 0px 7px 21px 1px rgba(224,221,224,0.21);
  box-shadow: 0px 7px 21px 1px rgba(224,221,224,0.21);
  display: flex;
  align-items: center;
}
.smCover {
  min-width: 100px;
  height: 100px;
  background-color: #F5F5F5;
  margin: 20px;
}
.smContent > h2 {
  color: #95989A;
  font-size: 20px;
}
.smContent > h4 {
  color: #BEBFBF;
  font-size: 15px;
}
